div{
	width: 200px;
	height: 200px;
	position: relative;
}
body{
	margin: 0px;
	padding: 0px;
}
.red{
	background: #EE3E64;
}
.blue{
	background: #44ACCF;
	top: 00px;
	bottom: 0px;
	right: 0px;
	left: 200px;
}
.green{
	background: #B7D84B;
}